main {
    width: 80%;
    margin: 1rem auto;
}

.actions .button {
    margin-bottom: 0;
}

.flickName {
    margin: 0 0.75rem;
}

.template {
    display: none;
}

body {
    background-image: url("https://media.gq.com/photos/5582c4f8e52bc4b477a9cdd8/master/w_800/gq-features-080109-GQfeature1v.jpg");
    background-size: cover;
}